.DS_Store
node_modules
/dist
/src/assets
vue.config.jstest

# Dossier ignoré - non utilisé


# Fichier ignoré - non utilisé

/src/data/factions.js
/src/data/Factions/Protoss.js
/src/data/Factions/Terran.js
/src/data/Factions/Zerg.js
/src/data/Order/move.js
/src/data/Order/Spec.js
/src/data/Phase/Program.js
/src/data/Phase/Regroupement.js


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
