.d-flex {
    margin: 20rem 30rem 20rem 30rem;
    padding: 2rem;
    border-radius: 4rem;
    color: black;
    font-weight: bolder;
    font-size: x-large;
}
.TIPS {
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    text-shadow: 0.5px 0.5px 0.8em white, 0 0 0.5em rgb(0, 0, 160), 0 0 0.2em rgb(0, 0, 160);
    text-decoration: underline;
    padding: 1rem;
}
.Bleu {
    background-color: rgba(0, 0, 255, 0.5);
}
.Rouge {
    background-color: rgba(255, 0, 0, 0.5);
}
.Jaune {
    background-color: rgba(255, 255, 0, 0.5);
}
.Orange {
    background-color: rgba(255, 125, 0, 0.5);
}
.Violet {
    background-color: rgba(255, 0, 125, 0.5);
}
.Vert {
    background-color: rgba(0, 255, 0, 0.5);
}
@media (min-width: 1260px) {
    /* 1263px */
    .imgTop {
        width: 200px;
        max-height: 250px;
    }
    .imgBot {
        width: 73px;
        max-height: 73px;
    }
    .faction {
        padding: 1rem!important;
    }
    .parag {
        font-size: 1.2rem;
        padding: 0 0.2rem 0 0.2rem;
    }
    .faction-lead {
        padding: 1rem;
        border-radius: 0.5em;
        font-size: 1.5rem;
    }
    .faction-header-gauche.tassadar {
        margin-bottom: 2.5rem;
    }
    .faction-header-desc.tassadar {
        margin-bottom: 2.5rem;
    }
    .faction-header-desc.overmind {
        margin-bottom: 2rem;
    }
    .faction-header-desc.arcturus_mengsk {
        margin-bottom: 2rem;
    }
    .faction-content.top {
        margin-bottom: 1rem;
    }
    .faction-content .desc-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .faction-content .desc-name {
        font-size: 1.3rem;
    }
    .faction-content .desc p {
        font-size: 1.3rem;
        padding: 1rem 1.5rem 0 1.5rem;
    }
    .faction-portrait.img.Protoss {
        top: 61.5rem;
        left: 30rem;
        width: 350px;
    }
    .faction-portrait.gif.Protoss {
        top: 66rem;
        left: 35rem;
        width: 145px;
    }
    .faction-portrait.img.Zerg {
        top: 53.3rem;
        left: 29rem;
        width: 370px;
    }
    .faction-portrait.gif.Zerg {
        top: 61.5rem;
        left: 35.3rem;
        width: 130px;
    }
    .faction-portrait.img.Terran {
        top: 58rem;
        left: 29.9rem;
        width: 320px;
    }
    .faction-portrait.gif.Terran {
        top: 62.8rem;
        left: 35.6rem;
        width: 130px;
    }
}
@media (min-width: 1800px) {
        /* 1880px */
    .imgTop {
        width: 300px;
        max-height: 350px;
        margin-bottom: 2rem;
    }
    .imgBot {
        width: 100px;
        max-height: 100px;
    }
    .parag {
        font-size: 1.2rem;
    }
    .faction {
        padding: 2rem!important;
    }
    .faction-header h3{
        font-size: 2.2rem;
        min-width: 20rem;
        margin-bottom: 2rem;
    }
    .faction-lead {
        padding: 1rem;
        border-radius: 0.5em;
    }
    .faction-content {
        margin: 1rem 0 1rem 0;
    }
    .faction-content .desc-name {
        font-size: 1.5rem;
    }
    .faction-content .desc .desc-content p {
        font-size: 1.5rem;
        padding: 2rem 2rem 0 2rem;
    }
    .faction-portrait.img.Zerg {
        width: 550px;
        top: 59rem;
        left: 37%;
    }
    .faction-portrait.gif.Zerg {
        width: 200px;
        top: 71rem;
        left: 44.7%;
    }
    .faction-portrait.img.Terran {
        width: 500px;
        top: 64.8rem;
        left: 37.3%;
    }
    .faction-portrait.gif.Terran {
        width: 200px;
        top: 72.5rem;
        left: 45%;
    }
    .faction-portrait.img.Protoss {
        width: 500px;
        top: 69.6rem;
        left: 38.6%;
    }
    .faction-portrait.gif.Protoss {
        width: 200px;
        top: 76.5rem;
        left: 44.7%;
    }
}
.content {
    display: flex;
    justify-content: space-between;
}
.imgTop {
    border-style: solid;
    border-width: 6px;
    border-color: rgba(30, 30, 30, 0.8);
    border-radius: 2rem;
}
.imgBot {
    border-style: solid;
    border-width: 4px;
    border-color: rgba(30, 30, 30, 0.8);
    border-radius: 1rem;
}
.faction {
    z-index: 50;
    width: 40%;
    border-style: solid;
    border-width: 6px 2px 6px 2px;
    border-color: rgba(0, 0, 0);
    border-radius: 0 2rem 2rem 0;
    box-shadow: 
        12px 0px 6px rgba(0, 173, 196, 0.2),
        -12px 0px 6px rgba(0, 173, 196, 0.2);
    background: rgba(44, 44, 44);
}
.faction.droite {
    border-radius: 2rem 0 0 2rem;
}
.faction-lead-desc {
    text-align: center;
}
.faction-header-gauche {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.faction-header-droite {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.faction-header-desc.droite h2{
    text-align: right;
}
.faction-content-droite {
    text-align: right;
}
.faction-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.faction-content .desc{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px 3px 1px 3px;
    border-color: rgb(30, 30, 30);
    border-radius: 2rem 2rem 2rem 1.2rem;
}
.faction-content .desc-name {
    background-color: rgb(114, 114, 114,0.8);
    border-radius: 2rem 2rem 0 0;
    text-align: center;
    padding: 0.5rem;
    margin: 0;
}
.faction-content .desc .desc-content{
    display: flex;
    flex-direction: row;
}
.faction-content .desc-content p{
    text-align: center;
}
.faction-portrait.img {
    z-index: 40;
    position: absolute;
    border-style: solid;
    border-width: 0 0 6px 0;
    border-color: rgba(30, 30, 30, 0.8);
}
.faction-portrait.gif {
    z-index: 30;
    position: absolute;
}