.TIPS {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
    text-shadow: 0.5px 0.5px 0.8em white, 0 0 0.5em rgb(0, 0, 160), 0 0 0.2em rgb(0, 0, 160);
    text-decoration: underline;
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}
.Combat {
    margin: 5vh 10vh;
    padding: 1rem;
    border-style: solid;
    border-width: 6px 2px 6px 2px;
    border-color: rgba(0, 0, 0);
    border-radius: 2rem;
    box-shadow: 
        12px 0px 6px rgba(0, 173, 196, 0.2),
        -12px 0px 6px rgba(0, 173, 196, 0.2);
    background: rgba(50, 50, 50, 0.95);
}
.btn {
    margin: 1rem auto;
}
.Combat-list h2 {
    text-decoration: underline;
}
.Combat-list {
    display: flex;
    flex-direction: column;
}
.select-list {
    display: flex;
    flex-direction: row;
}
.select.def {
    padding-left: 2rem;
}
.select {
    width: 50%;
}
.selection {
    display: flex;
    flex-direction: row;
}
.selection input {
    margin-top: .2rem;
    height: 1.5rem;
    width: 1.5rem;
}
@media (min-width: 1260px) {
    .selection p {
        margin-top: .2rem;
        margin-bottom: .2rem;
        width: 28%;
    }
    .selection label {
        width: 28%;
    }
    .select select {
        padding: 0 1rem;
        margin-top: .2rem;
        margin-bottom: .2rem;
    }
    .select.def {
        padding-left: 1rem;
    }
    .select-list {
        margin-bottom: 1rem;
    }
}
@media (min-width: 1800px) {
    .selection p {
        margin-top: .2rem;
        margin-bottom: .2rem;
        width: 20%;
    }
    .selection label {
        width: 20%;
    }
    .select select {
        padding: 0 2rem;
        margin-top: .2rem;
        margin-bottom: .2rem;
    }
    .select.def {
        padding-left: 2rem;
    }
    .select-list {
        margin: 0 2rem 1rem 3rem;
    }
}