.button-nav {
    width: 43%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    background: rgba(60, 60, 60, 0.8);
    border-style: solid;
    border-width: 6px 2px 6px 2px;
    border-color: rgb(85, 85, 85);
    border-radius: 2rem;
}
.button-nav button {
    padding: .5rem;
    margin: 1rem 1.5rem;
}
.button-nav p {
    padding-top: .5rem;
    margin: 1rem 0;
}
#btn-nav img {
    width: 50px;
}
#btn-nav {
    display: none;
    position: fixed;
    bottom: 120px;
    right: 30px;
    border: none;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 2rem;
}
#btn-nav:hover {
    background-color: #555;
}